/* Nav Bar */
body{
    overflow-x: hidden;
}
.carouselEffect{
    height:90vh;
}
.client_carousel{
    height: 60vh;
    width: 100vw;
}
.update_Bg{
    background-image: linear-gradient(to right,orange,red);
    height: 92vh;
}
.client_Bg{
    background-image: linear-gradient(to right,rgb(60, 202, 143),rgb(16, 170, 170));
    height: 92vh;
}
.contact_Bg{
    background-image: url('https://i.pinimg.com/736x/a0/d8/10/a0d810474c309edd22329b760280a303.jpg');
    background-size: 70%;
    height: 92vh;
}
.admin_Bg{
    background-image: linear-gradient(to right,rgb(60, 202, 143),red);
    height: 92vh;
}
.hardware:hover{
    transform: scale(1.2);
}
.nav_head{
    color: #a55a5a;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
.navbar-brand{
    color: red;
}
/* Register Page */
.reg_Bg{
    background-image: url('https://wallpapers.com/images/featured/cybersecurity-background-phtcuiqye3304ajv.jpg');
    background-size: cover;
    height: 92vh;
    width: 100vw;
    background-repeat: no-repeat;
}
.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .form-group input {
    flex: 1;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .registration-form {
      max-width: 100%;
    }
    
    .form-group {
      flex-direction: column;
    }
    
    .form-group input {
      width: 100%;
    }
  }

span{
    color: white;
}
.link_One{
    text-decoration: none;
    color: rgb(4, 196, 221);
}

/* Login Page */

.login_Bg{
    width: 100vw;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    background-color: #0c1022;
}
.login_form_container{
    position: relative;
    width: 400px;
    height: 470px;
    max-width: 400px;
    max-height: 470px;
    background: #040717;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 70px;
    border: 5px solid #a55a5a;
}
.login_form_container::before{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    /* background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
    animation: rotate_border 6s linear infinite; */

}
.login_form_container::after{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    /* background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s; */
}
/* @keyframes rotate_border{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */
.login_form{
    position: absolute;
    content: '';
    background-color: #0c1022;
    border-radius: 50px 5px;
    inset: 5px;
    padding: 50px 40px;
    z-index: 10;
    color: #00ccff;

} 
h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.input_group{
    margin-top: 40px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: start;
}
.input_texts{
    width: 95%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #00ccff;
    font-size: 20px;
    padding-left: 10px;
    color: #00ccff;

}
/* ::placeholder{
    font-size: 15px;
    color: #00ccff52;
    letter-spacing: 1px;

} */

#login_button{
    position: relative;
    width: 300px;
    height: 40px;
    transition: 1s;
    margin-top: 70px;


}
#login_button .btn_One{
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 2px;
    border: 1px solid #00ccff;
    border-radius: 50px;
    background-color: #0c1022;
    display: flex;
    justify-content: center;
    align-items: center;
}
